.home {

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: 100%;
  }

  .header {
    margin-bottom: 50px;
  }
}